<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">account_circle</i>
                <span>{{ user.ad }} {{ user.soyad }} - {{ user.sicilNo }}</span>
            </a>
            <ul class="dropdown-menu">
                <li><a ng-href="./parola">Parola değiştir</a></li>
                <li><a ng-click="logout()">Çıkış</a></li>
            </ul>
        </li>
    </ul>
</div>