<div ng-include="'templates/left-nav-bar.tpl.html'"></div>
<div class="main-panel">
    <nav class="navbar navbar-danger navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Parola Güncelleme</a>
            </div>
            <div ng-include="'templates/right-dropdown.tpl.html'"></div>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Parola Güncelle</h4>
                        </div>
                        <div class="card-content">
                            <form name="form" ng-submit="updatePassword(oldPassword, newPassword, newPasswordAgain)" role="form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Eski Parola</label>
                                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" ng-model="oldPassword" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Yeni Parola</label>
                                            <input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="newPassword" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Yeni Parola(Tekrar)</label>
                                            <input type="password" class="form-control" id="newPasswordAgain" name="newPasswordAgain" ng-model="newPasswordAgain" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-success pull-right">Güncelle</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
