<div ng-include="'templates/left-nav-bar.tpl.html'"></div>
<div class="main-panel">
    <nav class="navbar navbar-danger navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Aidatlar</a>
            </div>
            <div ng-include="'templates/right-dropdown.tpl.html'"></div>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content table-responsive" data-background-color="green">
                            <p>
                                Odamızın hesap numaralarına <a href="#" style="font-weight: bold; text-decoration: underline;">buradan</a> ulaşabilirsiniz. Toplam borcunuz <span style="font-weight: bold; text-decoration: underline;">{{ debt }} TL</span>'dir.
                            </p>
                            <p>
                                <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#noticeModal">
                                    Ödeme Yap
                                    <i class="material-icons">payment</i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Yıllık Aidat Bilgisi</h4>
                            <p class="category">Yıllara göre ödediğiniz/ödemediğiniz aidat bilgileri</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead>
                                    <th>Yıl</th>
                                    <th>Ödenen Ay</th>
                                    <th>Muaf Olduğu Ay</th>
                                    <th>Kalan Ay</th>
                                    <th>Aidat Tutarı</th>
                                    <th>Kalan Borç</th>
                                    <th>Durum</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="aidat in aidatInfo" ng-class="aidat.kalanAidatUcreti > 0 ? 'danger' : 'success'">
                                        <td>{{ aidat.yil }}</td>
                                        <td>{{ aidat.odenmisAySayisi }}</td>
                                        <td>{{ aidat.muafOlunanAySayisi }}</td>
                                        <td>{{ aidat.kalanAySayisi }}</td>
                                        <td>{{ aidat.aylikAidatUcreti }} TL</td>
                                        <td>{{ aidat.kalanAidatUcreti }} TL</td>
                                        <td class="td-actions text-right text-success" ng-show="aidat.kalanAidatUcreti == 0">
                                            <i class="material-icons">check_circle</i>
                                        </td>
                                        <td class="td-actions text-right text-danger" ng-show="aidat.kalanAidatUcreti > 0">
                                            <i class="material-icons">warning</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Ödeme Listesi</h4>
                            <p class="category">Makbuzlarınıza ilişkin kayıtlar</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Makbuz #</th>
                                    <th>Miktar</th>
                                    <th>Tarih</th>
                                    <th>Ödeme Türü</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="receipt in receiptInfo">
                                        <td>{{ receipt.makbuzNo > 0 ? receipt.makbuzNo : '-'}}</td>
                                        <td>{{ receipt.ucret }} TL</td>
                                        <td>{{ receipt.tarih | date:'dd-MM-yyyy'}}</td>
                                        <td>{{ receipt.odemeTipi }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-notice">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="material-icons">clear</i></button>
                <h5 class="modal-title" id="myModalLabel">Ödeme Ekranı</h5>
            </div>
            <div class="modal-body">
                <div>
                    <form name="ccForm">
                        <div class="form-group">
                            <label for="card-number">Kredi Kartı Numarası</label>
                            <input type="text" class="form-control" id="cardNumber" cc-number cc-eager-type name="ccNumber" ng-model="card.number">
                        </div>
                        <div class="form-group">
                            <label for="cvc">CVC</label>
                            <input type="text" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" name="ccCvc" ng-model="card.cvc">
                        </div>
                        <div class="form-group">
                            <label for="card-number">Geçerlilik Zamanı</label>
                            <div class="row" cc-exp>
                                <div class="col-xs-3">
                                    <input placeholder="MM" type="text" class="form-control" cc-exp-month name="ccExpMonth" ng-model="card.expiration.month">
                                </div>
                                <div class="col-xs-3">
                                    <input placeholder="YY" type="text" class="form-control" cc-exp-year name="ccExpYear" ng-model="card.expiration.year">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success">
                    Devam
                    <div class="ripple-container">
                        <div class="ripple ripple-on ripple-out" style="left: 47.6562px; top: 7.75px; background-color: rgb(255, 255, 255); transform: scale(14.6621);">
                        </div>
                        <div class="ripple ripple-on ripple-out" style="left: 76.6562px; top: 17.75px; background-color: rgb(255, 255, 255); transform: scale(14.6621);">
                        </div>
                        <div class="ripple ripple-on ripple-out" style="left: 84.6562px; top: 6.75px; background-color: rgb(255, 255, 255); transform: scale(14.6621);">
                        </div>
                        <div class="ripple ripple-on ripple-out" style="left: 23.6562px; top: 25.75px; background-color: rgb(255, 255, 255); transform: scale(14.6621);">
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
