<div class="sidebar" data-color="red" data-image="../assets/img/sidebar-1.jpg">
	<div class="logo">
		<a href="https://uye.bmo.org.tr" class="simple-text">
			<i class="material-icons">more_vert</i>
			BMO 3. Dönem
		</a>
	</div>

	<div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a ng-href="./ozet">
                    <i class="material-icons">dashboard</i>
                    <p>Üye Özet</p>
                </a>
            </li>
            <li>
                <a ng-href="./bilgi">
                    <i class="material-icons">person</i>
                    <p>Üyelik Bilgileriniz</p>
                </a>
            </li>
            <li>
                <a href="./aidat">
                    <i class="material-icons">receipt</i>
                    <p>Aidatlar</p>
                </a>
            </li>
        </ul>
	</div>
</div>

<div class="main-panel">
	<nav class="navbar navbar-transparent navbar-absolute">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Üye Özet Bilgiler</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							   <i class="material-icons">person</i>
							   <span>{{ user.ad }} {{ user.soyad }} - {{ user.sicilNo }}</span>
 						</a>
 						<ul class="dropdown-menu">
							<li><a href="#">Profil</a></li>
							<li><a href="" ng-click="logout()">Çıkış</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="material-icons">content_paste</i>
						</div>
						<div class="card-content">
							<p class="category">Yeni Duyuru</p>
							<h3 class="title">{{ activeAnnouncementCount }}</h3>
						</div>
						<!-- <div class="card-footer">
							<div class="stats">
								<i class="material-icons">announcement</i> <a href="#">Duyuruları gör...</a>
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="green">
                            <i class="material-icons">school</i>
						</div>
						<div class="card-content">
							<p class="category">Aktif Eğitim</p>
							<h3 class="title">{{ trainingCount }}</h3>
						</div>
						<!-- <div class="card-footer">
							<div class="stats">
								<i class="material-icons">date_range</i> <a href="#">Yaklaşan eğitimler...</a>
							</div>
						</div> -->
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="red">
							<i class="material-icons">receipt</i>
						</div>
						<div class="card-content">
							<p class="category">Ödenmemiş Aidat</p>
							<h3 class="title">{{ debt }} TL</h3>
						</div>
						<!-- <div class="card-footer">
							<div class="stats">
								<i class="material-icons">local_offer</i> Tracked from Github
							</div>
						</div> -->
					</div>
				</div>

				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="blue">
							<i class="material-icons">event</i>
						</div>
						<div class="card-content">
							<p class="category">Yaklaşan Etkinlik</p>
							<h3 class="title">{{ upcomingEventCount }}</h3>
						</div>
						<!-- <div class="card-footer">
							<div class="stats">
								<i class="material-icons">update</i> Just Updated
							</div>
						</div> -->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="card card-nav-tabs">
						<div class="card-header" data-background-color="green">
							<a href="#" data-toggle="tab">
                                <i class="material-icons">today</i>
                                Aktif Duyurular
                                <div class="ripple-container"></div>
                            </a>
						</div>

						<div class="card-content">
							<div class="tab-content">
								<div class="tab-pane active" id="profile">
									<table class="table">
										<tbody>
											<tr>
												<td>Sign contract for "What are conference organizers afraid of?"</td>
											</tr>
											<tr>
												<td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
											</tr>
											<tr>
												<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
												</td>
											</tr>
											<tr>
												<td>Create 4 Invisible User Experiences you Never Knew About</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="messages">
									<table class="table">
										<tbody>
											<tr>
												<td>
													<div class="checkbox">
														<label>
															<input type="checkbox" name="optionsCheckboxes" checked>
														</label>
													</div>
												</td>
												<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
												</td>
												<td class="td-actions text-right">
													<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
														<i class="material-icons">edit</i>
													</button>
													<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
														<i class="material-icons">close</i>
													</button>
												</td>
											</tr>
											<tr>
												<td>
													<div class="checkbox">
														<label>
															<input type="checkbox" name="optionsCheckboxes">
														</label>
													</div>
												</td>
												<td>Sign contract for "What are conference organizers afraid of?"</td>
												<td class="td-actions text-right">
													<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
														<i class="material-icons">edit</i>
													</button>
													<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
														<i class="material-icons">close</i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tab-pane" id="settings">
									<table class="table">
										<tbody>
											<tr>
												<td>
													<div class="checkbox">
														<label>
															<input type="checkbox" name="optionsCheckboxes">
														</label>
													</div>
												</td>
												<td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
												<td class="td-actions text-right">
													<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
														<i class="material-icons">edit</i>
													</button>
													<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
														<i class="material-icons">close</i>
													</button>
												</td>
											</tr>
											<tr>
												<td>
													<div class="checkbox">
														<label>
															<input type="checkbox" name="optionsCheckboxes" checked>
														</label>
													</div>
												</td>
												<td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
												</td>
												<td class="td-actions text-right">
													<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
														<i class="material-icons">edit</i>
													</button>
													<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
														<i class="material-icons">close</i>
													</button>
												</td>
											</tr>
											<tr>
												<td>
													<div class="checkbox">
														<label>
															<input type="checkbox" name="optionsCheckboxes">
														</label>
													</div>
												</td>
												<td>Sign contract for "What are conference organizers afraid of?"</td>
												<td class="td-actions text-right">
													<button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
														<i class="material-icons">edit</i>
													</button>
													<button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
														<i class="material-icons">close</i>
													</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-12">
					<div class="card">
                        <div class="card-header" data-background-color="orange">
                            <a href="#" data-toggle="tab">
                                <i class="material-icons">rss_feed</i>
                                Web sitemizden
                                <div class="ripple-container"></div>
                            </a>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>ID</th>
                                	<th>Name</th>
                                	<th>Salary</th>
                                	<th>Country</th>
                                </thead>
                                <tbody>
                                    <tr>
                                    	<td>1</td>
                                    	<td>Dakota Rice</td>
                                    	<td>$36,738</td>
                                    	<td>Niger</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>



