<div ng-include="'templates/left-nav-bar.tpl.html'"></div>
<div class="main-panel">
    <nav class="navbar navbar-danger navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Aidatlar</a>
            </div>
            <div ng-include="'templates/right-dropdown.tpl.html'"></div>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content table-responsive" data-background-color="green">
                            <p>
                                Odamızın hesap numaralarına <a href="#" style="font-weight: bold; text-decoration: underline;">buradan</a> ulaşabilirsiniz. Toplam borcunuz <span style="font-weight: bold; text-decoration: underline;">{{ debt }} TL</span>'dir.
                            </p>
                            <p>
                                <button type="button" class="btn btn-danger btn-xs">
                                    Ödeme Yap
                                    <i class="material-icons">payment</i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Yıllık Aidat Bilgisi</h4>
                            <p class="category">Yıllara göre ödediğiniz/ödemediğiniz aidat bilgileri</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead>
                                    <th>Yıl</th>
                                    <th>Ödenen Ay</th>
                                    <th>Muaf Olduğu Ay</th>
                                    <th>Kalan Ay</th>
                                    <th>Aidat Tutarı</th>
                                    <th>Kalan Borç</th>
                                    <th>İşlemler</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="aidat in aidatInfo" ng-class="aidat.kalanAidatUcreti > 0 ? 'danger' : 'success'">
                                        <td>{{ aidat.yil }}</td>
                                        <td>{{ aidat.odenmisAySayisi }}</td>
                                        <td>{{ aidat.muafOlunanAySayisi }}</td>
                                        <td>{{ aidat.kalanAySayisi }}</td>
                                        <td>{{ aidat.aylikAidatUcreti }} TL</td>
                                        <td>{{ aidat.kalanAidatUcreti }} TL</td>
                                        <td class="td-actions text-right" ng-show="aidat.kalanAidatUcreti == 0">
                                            <button type="button" class="btn btn-success btn-simple btn-xs">
                                                <i class="material-icons">check_circle</i>
                                            </button>
                                        </td>
                                        <td class="td-actions text-right" ng-show="aidat.kalanAidatUcreti > 0">
                                            <button type="button" class="btn btn-danger btn-simple btn-xs">
                                                <i class="material-icons">warning</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Ödeme Listesi</h4>
                            <p class="category">Makbuzlarınıza ilişkin kayıtlar</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>Makbuz #</th>
                                    <th>Miktar</th>
                                    <th>Tarih</th>
                                    <th>Ödeme Türü</th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="receipt in receiptInfo">
                                        <td>{{ receipt.makbuzNo > 0 ? receipt.makbuzNo : '-'}}</td>
                                        <td>{{ receipt.ucret }} TL</td>
                                        <td>{{ receipt.tarih | date:'dd-MM-yyyy'}}</td>
                                        <td>{{ receipt.odemeTipi }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
