<div ng-include="'templates/left-nav-bar.tpl.html'"></div>
<div class="main-panel">
	<nav class="navbar navbar-danger navbar-absolute">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Üye Özet Bilgiler</a>
			</div>
			<div ng-include="'templates/right-dropdown.tpl.html'"></div>
		</div>
	</nav>

	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="orange">
							<i class="material-icons">content_paste</i>
						</div>
						<div class="card-content">
							<p class="category">Yeni Duyuru</p>
							<h3 class="title">{{ activeAnnouncementCount }}</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="green">
							<i class="material-icons">school</i>
						</div>
						<div class="card-content">
							<p class="category">Aktif Eğitim</p>
							<h3 class="title">{{ trainingCount }}</h3>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="red">
							<i class="material-icons">receipt</i>
						</div>
						<div class="card-content">
							<p class="category">Ödenmemiş Aidat</p>
							<h3 class="title">{{ debt }} TL</h3>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="card-header" data-background-color="blue">
							<i class="material-icons">event</i>
						</div>
						<div class="card-content">
							<p class="category">Yaklaşan Etkinlik</p>
							<!-- TODO -->
							<h3 class="title">{{ activeAnnouncementCount }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
